---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} kai's soapbox. all rights reserved.
  <div class="social-links">
    <a href="https://ko-fi.com/kaisoapbox" target="_blank">
      <span class="sr-only">Support Kai on Ko-Fi</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        aria-hidden="true"
        width="32"
        height="32"
        astro-icon="social/kofi"
      >
        <defs>
          <circle id="circle" cx="8" cy="8" r="8"> </circle>
          <mask id="mask">
            <use href="#circle" fill="white"></use>
            <path
              d="m11.129 4.4h.8038C13.4832 4.4 14.74 5.6568 14.74 7.2072v.165c0 1.5504-1.2568 2.8072-2.8072 2.8072h-.8038v.8449c0 .7156-.5801 1.2956-1.2956 1.2956H3.7156C3.0001 12.32 2.42 11.7399 2.42 11.0244V5.0478C2.42 4.69 2.71 4.4 3.0678 4.4Zm0 1.4984v2.7827h.7328c.7684 0 1.3914-.6229 1.3914-1.3914 0-.7684-.6229-1.3914-1.3914-1.3914z"
              fill="black"
            >
            </path>
          </mask>
        </defs>
        <use href="#circle" mask="url(#mask)" fill="currentColor"></use>
        <path
          d="M6.68 7.1384C6.8801 6.5528 7.3545 6.26 8.103 6.26c1.1227 0 1.539 1.3968.9505 2.31C8.6611 9.1788 7.8699 9.9488 6.68 10.88 5.4901 9.9488 4.6989 9.1788 4.3066 8.57 3.718 7.6568 4.1343 6.26 5.257 6.26 6.0055 6.26 6.4799 6.5528 6.68 7.1384Z"
          fill="currentColor"
        >
        </path>
      </svg>
    </a>
    <a href="https://twitter.com/kaisoapbox" target="_blank">
      <span class="sr-only">Follow Kai on Twitter</span>
      <svg
        viewBox="0 0 16 16"
        aria-hidden="true"
        width="32"
        height="32"
        astro-icon="social/twitter"
        ><path
          fill="currentColor"
          d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
        ></path></svg
      >
    </a>
    <a href="https://github.com/kaisoapbox" target="_blank">
      <span class="sr-only">Go to Kai's GitHub</span>
      <svg
        viewBox="0 0 16 16"
        aria-hidden="true"
        width="32"
        height="32"
        astro-icon="social/github"
        ><path
          fill="currentColor"
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
        ></path></svg
      >
    </a>
    <a href="https://kaisoapbox.itch.io/" target="_blank">
      <span class="sr-only">Go to kaisoapbox on itch.io</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        aria-hidden="true"
        width="32"
        height="32"
        astro-icon="social/itchio"
        ><path
          fill="currentColor"
          d="M2.0712 1.0884C1.3783 1.4998.0129 3.0683 0 3.4796v.6809C0 5.0236.8067 5.7822 1.5392 5.7822c.8795 0 1.6123-.7289 1.6124-1.5941 0 .8651.7077 1.5941 1.5873 1.5941.8796 0 1.5646-.7289 1.5646-1.5941 0 .8651.7525 1.5941 1.6321 1.5941h.0159c.8796 0 1.6321-.7289 1.6321-1.5941 0 .8651.685 1.5941 1.5645 1.5941.8796 0 1.5873-.7289 1.5873-1.5941 0 .8651.7329 1.5941 1.6124 1.5941.7325 0 1.5392-.7584 1.5392-1.6216V3.4796c-.0129-.4114-1.3783-1.9799-2.0711-2.3913C11.6619 1.0128 10.1688.9997 7.9434 1c-2.2253.0002-5.2592.035-5.8723.0884zm4.2211 4.2873a1.8145 1.8145 90 01-.3095.3985c-.332.3246-.7871.5259-1.2888.5259a1.8441 1.8441 90 01-1.2916-.5261c-.1203-.1178-.2117-.2438-.2954-.3905l-.0004.0003c-.0837.147-.2002.2729-.3208.3909a1.8453 1.8453 90 01-1.2916.5257c-.0605 0-.1234-.0167-.1743-.0342-.0707.7363-.1006 1.44-.1111 1.953l-.0001.0029c-.0013.2605-.0026.4748-.0039.7724.0136 1.5448-.153 5.0071.6811 5.8578 1.2926.3014 3.6711.4387 6.0573.4395h.0004c2.3862-.0008 4.7647-.1381 6.0573-.4395.8341-.8508.6675-4.313.6811-5.8578-.0014-.2976-.0026-.5118-.0039-.7724l-.0002-.0029c-.0105-.5132-.0403-1.2168-.111-1.9531-.0509.0175-.1138.0342-.1743.0342a1.8453 1.8453 90 01-1.2916-.5257c-.1206-.118-.2371-.2438-.3208-.3909l-.0004-.0003c-.0838.1467-.1751.2728-.2954.3905a1.844 1.844 90 01-1.2915.5261c-.5017 0-.9568-.2014-1.2888-.5259a1.8145 1.8145 90 01-.3095-.3985 1.8122 1.8122 90 01-.3066.3985 1.8446 1.8446 90 01-1.2917.526c-.0175 0-.035-.0008-.0524-.0013h-.0005c-.0175.0005-.035.0013-.0526.0013a1.8446 1.8446 90 01-1.2917-.5259 1.8124 1.8124 90 01-.3066-.3985zm-1.3264 1.7151-.0001.0006h.001c.5253.0011.9919 0 1.5701.631.455-.0477.9305-.0715 1.4064-.0708h.0004c.4759-.0006.9514.0231 1.4065.0708.5782-.6311 1.0448-.63 1.5701-.631h.0009l-.0001-.0006c.2482 0 1.2409 0 1.9327 1.9428L13.5967 11.6989c.5506 1.9828-.1763 2.0313-1.083 2.033-1.3446-.05-2.0892-1.0266-2.0892-2.0029-.7443.122-1.6126.183-2.4809.183h-.0004c-.8684 0-1.7367-.0611-2.4809-.183 0 .9764-.7446 1.9529-2.0892 2.0029-.9067-.0017-1.6335-.0502-1.0829-2.033L3.0334 9.0337C3.7251 7.0909 4.7179 7.0909 4.966 7.0909zm2.9774 1.5268v.0004c-.0013.0013-1.4155 1.3001-1.6698 1.7621l.9261-.0371v.8076c0 .0378.3716.0224.7437.0052h.0004c.3719.0172.7436.0326.7436-.0052v-.8076l.9261.0371c-.2543-.462-1.6698-1.7621-1.6698-1.7621v-.0004l-.0002.0001z"
        ></path></svg
      >
    </a>
  </div>

  <!-- Ko-fi -->

  <script src="./kofi.js"></script>
</footer>
<style>
  footer {
    padding: 2em 1em 1em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
    transition:
      scale 200ms,
      color 200ms;
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
    scale: 110%;
  }
</style>
